.vector-icon3 {
  position: absolute;
  top: 316.2px;
  left: 434.7px;
  width: 188px;
  height: 218.6px;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  top: 379.4px;
  left: 263.5px;
  width: 296px;
  height: 210.9px;
}
.vector-icon6 {
  top: 400.6px;
  left: 345px;
  width: 105.3px;
  height: 103.7px;
}
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 52.9px;
  left: 358.8px;
  width: 466.4px;
  height: 793.9px;
  object-fit: contain;
}
.vector-icon8,
.vector-icon9 {
  top: 1279px;
  left: 43.1px;
  width: 193px;
  height: 112.8px;
}
.vector-icon9 {
  top: 1114.5px;
  left: 45.9px;
  width: 101.1px;
  height: 232.8px;
}
.vector-icon10,
.vector-icon11 {
  position: absolute;
  top: 480.1px;
  left: 0;
  width: 265.9px;
  height: 753.1px;
}
.vector-icon11 {
  top: 646.5px;
  left: 4.1px;
  width: 185.5px;
  height: 565px;
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  top: 1103.6px;
  left: 542px;
  width: 174.3px;
  height: 222.6px;
  object-fit: contain;
}
.vector-icon13 {
  top: 1086.9px;
  left: 447.5px;
  width: 178.3px;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  top: 586.3px;
  left: 112.8px;
  width: 472.8px;
  height: 699.1px;
}
.vector-icon15 {
  top: 153.4px;
  left: 268.3px;
  width: 137px;
  height: 216px;
}
.vector-icon16,
.vector-icon17 {
  position: absolute;
  top: 193.9px;
  left: 320.4px;
  width: 38.1px;
  height: 55.2px;
  object-fit: contain;
}
.vector-icon17 {
  top: 207.8px;
  left: 343px;
  width: 15.9px;
  height: 28.7px;
}
.vector-icon18 {
  position: absolute;
  top: 102.6px;
  left: 147.5px;
  width: 237.8px;
  height: 182.7px;
}
.vector-icon19,
.vector-icon20 {
  position: absolute;
  top: 195px;
  left: 273.5px;
  width: 37.9px;
  height: 47.7px;
}
.vector-icon20 {
  top: 270.5px;
  left: 321.4px;
  width: 39.9px;
  height: 25.7px;
}
.vector-icon21,
.vector-icon22 {
  position: absolute;
  top: 323px;
  left: 88.1px;
  width: 248.1px;
  height: 427.1px;
}
.vector-icon22 {
  top: 629.3px;
  left: 115.2px;
  width: 345.3px;
  height: 655.7px;
}
.vector-icon23,
.vector-icon24 {
  position: absolute;
  top: 1083.4px;
  left: 446.2px;
  width: 112.7px;
  height: 169.6px;
}
.vector-icon24 {
  top: 173.7px;
  left: 317.5px;
  width: 89.3px;
  height: 183.8px;
}
.vector-icon25,
.vector-icon26 {
  position: absolute;
  top: 267.9px;
  left: 269.2px;
  width: 21.4px;
  height: 61.4px;
}
.vector-icon26 {
  top: 51.1px;
  left: 359.6px;
  width: 233.4px;
  height: 707.2px;
}
.vector-icon27,
.vector-icon28 {
  position: absolute;
  top: 457.4px;
  left: 432.4px;
  width: 175.4px;
  height: 123.4px;
}
.vector-icon28 {
  top: 459.7px;
  left: 497.8px;
  width: 107px;
  height: 102.2px;
}
.vector-icon29,
.vector-icon30 {
  position: absolute;
  top: 145.1px;
  left: 373.6px;
  width: 447.3px;
  height: 690.8px;
}
.vector-icon30 {
  top: 60.6px;
  left: 402px;
  width: 182.5px;
  height: 440px;
}
.vector-icon31,
.vector-icon32 {
  position: absolute;
  top: 10.2px;
  left: 422.3px;
  width: 82.1px;
  height: 103.6px;
}
.vector-icon32 {
  top: 0;
  left: 421.7px;
}
.vector-icon33,
.vector-icon34 {
  position: absolute;
  top: 371.8px;
  left: 246.8px;
  width: 264.2px;
  height: 256.9px;
}
.vector-icon34 {
  top: 325.7px;
  left: 112.4px;
  width: 379.7px;
  height: 424.1px;
}
.group-item,
.vector-icon35 {
  position: absolute;
  top: 457.6px;
  left: 279.9px;
  width: 229.2px;
  height: 158.7px;
}
.group-item {
  top: 0;
  left: 0;
  width: 296.2px;
  height: 487.7px;
}
.star-icon4 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button4 {
  position: relative;
  line-height: 100%;
}
.button-danger4 {
  position: absolute;
  top: 418.2px;
  left: 32px;
  border-radius: 7.63px;
  background-color: var(--color-royalblue);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 214.2px;
  height: 33.1px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--space-300);
  gap: var(--space-200);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-danger-on-danger);
}
.custom-branding-options,
.customizable-message-template {
  position: absolute;
  top: 283.4px;
  left: 17.8px;
  line-height: 140%;
}
.customizable-message-template {
  top: 243.2px;
}
.customer-support,
.unlimited-massive-messages,
.unlimited-page-management {
  position: absolute;
  top: 204px;
  left: 17.8px;
  line-height: 140%;
}
.customer-support,
.unlimited-page-management {
  top: 162.8px;
}
.customer-support {
  top: 323.6px;
}
.group-inner {
  position: absolute;
  top: 137.3px;
  left: 20.3px;
  width: 231.5px;
  height: 0.5px;
  object-fit: contain;
}
.month {
  top: 94.6px;
  left: 173.5px;
  font-size: var(--font-size-smi-2);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.div,
.month,
.unlimitet {
  position: absolute;
  text-align: left;
}
.div {
  top: 75.2px;
  left: 63.1px;
  font-size: var(--font-size-13xl-3);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.unlimitet {
  top: 17.7px;
  left: 99.2px;
  font-size: var(--font-size-mid-6);
  line-height: 100%;
}
.group-parent {
  position: absolute;
  top: 781px;
  left: 328.7px;
  width: 296.2px;
  height: 487.7px;
}
.group-wrapper,
.pricing-page-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 825.3px;
  height: 1391.8px;
}
.pricing-page-inner {
  top: 109px;
  left: 616.3px;
}
.vector-icon36,
.vector-icon37 {
  position: absolute;
  top: -155.7px;
  left: 28px;
  width: 459.5px;
  height: 419.8px;
}
.vector-icon37 {
  height: 100%;
  width: 100%;
  top: 9.5%;
  right: -2.19%;
  bottom: -9.5%;
  left: 2.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.supercharge-your-campaigns {
  position: absolute;
  height: 11.19%;
  width: 207.03%;
  top: 73.38%;
  left: 50.06%;
  display: inline-block;
}
.vector-group {
  position: absolute;
  top: -186.2px;
  left: 18.8px;
  width: 443.9px;
  height: 402.3px;
  text-align: left;
  font-size: 36.9px;
}
.vector-icon38 {
  position: absolute;
  height: 0.64%;
  width: 7.7%;
  top: 98.83%;
  right: 3.36%;
  bottom: 0.53%;
  left: 88.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pricing-page-child {
  position: absolute;
  top: 352.2px;
  left: 665.3px;
  width: 92.3px;
  height: 92.3px;
  overflow: hidden;
}
.star-icon5 {
  width: 917.1px;
  position: relative;
  height: 917.1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-danger5 {
  position: absolute;
  top: -1618.1px;
  left: -17960.1px;
  border-radius: 270.21px;
  background-color: var(--color-royalblue);
  border: 57.3px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 13931.3px;
  height: 1891.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  gap: var(--space-200);
  text-align: left;
  font-size: var(--font-size-898xl-1);
  color: var(--color-white);
}
.after-login-child {
  position: absolute;
  top: -115.4px;
  left: 11.1px;
  width: 443.9px;
  height: 402.3px;
}
.vector-icon39,
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39 {
  height: 0.63%;
  width: 7.71%;
  top: 99.37%;
  right: 3.36%;
  bottom: 0;
  left: 88.94%;
  object-fit: contain;
}
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  height: 45.58%;
  width: 34.19%;
  top: -13.67%;
  right: 64.98%;
  bottom: 68.1%;
  left: 0.84%;
}
.vector-icon41,
.vector-icon42 {
  height: 25.08%;
  width: 18.81%;
  top: 86.61%;
  right: 61.05%;
  bottom: -11.69%;
  left: 20.14%;
}
.vector-icon42 {
  height: 24.15%;
  width: 18.11%;
  top: 85.94%;
  right: 60.36%;
  bottom: -10.08%;
  left: 21.54%;
}
.after-login-item {
  position: absolute;
  top: 465.1px;
  left: 673.7px;
  width: 92.3px;
  height: 92.3px;
  overflow: hidden;
}
.supercharge-your-page1 {
  position: absolute;
  top: 311.4px;
  left: 62.4px;
  font-size: 63.4px;
  letter-spacing: -1.59px;
  line-height: 100.5%;
  font-weight: 600;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 687.9px;
  height: 318.6px;
}
.after-login-inner {
  position: absolute;
  top: 0;
  left: -0.2px;
  background-color: var(--color-gainsboro);
  width: 1329.2px;
  height: 106.9px;
}
.pricing1,
.support1 {
  top: 36.1px;
  text-decoration: underline;
  color: inherit;
}
.pricing1 {
  position: absolute;
  left: 1049.6px;
  line-height: 100%;
}
.support1 {
  left: 924.1px;
}
.how-to-use1,
.support1,
.you-can-message1 {
  position: absolute;
  line-height: 100%;
}
.how-to-use1 {
  top: 36.1px;
  left: 762.6px;
  text-decoration: underline;
  color: inherit;
}
.you-can-message1 {
  top: 602.5px;
  left: 62.4px;
  font-size: 25.2px;
  display: inline-block;
  width: 533.3px;
  height: 87px;
}
.group-icon {
  position: absolute;
  height: 81.22%;
  width: 43.19%;
  top: 17.94%;
  right: 7.23%;
  bottom: 0.85%;
  left: 49.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-danger6,
.button-danger7 {
  background-color: var(--color-royalblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-200);
}
.button-danger6 {
  position: absolute;
  top: -1618.1px;
  left: -17960.1px;
  border-radius: 270.21px;
  border: 57.3px solid var(--color-royalblue);
  width: 13931.3px;
  height: 1891.5px;
  overflow: hidden;
  padding: var(--space-300);
  font-size: var(--font-size-898xl-1);
  color: var(--color-white);
}
.button-danger7 {
  top: 38.7px;
  left: 1164.1px;
  border-radius: 7.64px;
  border: 1.5px solid var(--color-royalblue);
  width: 124.2px;
  height: 33.7px;
  padding: var(--space-300) var(--space-300);
  font-size: var(--font-size-5xl);
  color: var(--text-danger-on-danger);
}
.after-login,
.button-danger7,
.button-danger8 {
  position: absolute;
  overflow: hidden;
}
.button-danger8 {
  top: 725.6px;
  left: 72.1px;
  border-radius: 7.64px;
  background-color: var(--color-royalblue);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 428.5px;
  height: 41.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  gap: var(--space-200);
  font-size: var(--font-size-5xl);
  color: var(--text-danger-on-danger);
}
.after-login {
  top: 18.8px;
  left: 2283.8px;
  background-color: var(--color-lightsteelblue);
  width: 1328.9px;
  height: 945px;
  text-align: left;
  font-size: var(--font-size-3xl-5);
}
.button-danger9,
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 288.6px;
  height: 487.7px;
}
.button-danger9 {
  top: 414.2px;
  left: 37.7px;
  border-radius: 7.63px;
  background-color: var(--color-royalblue);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 214.2px;
  height: 33.1px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--space-300);
  gap: var(--space-200);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-danger-on-danger);
}
.custom-branding-options1,
.free-trial-for {
  position: absolute;
  top: 167.9px;
  left: 29px;
  line-height: 140%;
}
.custom-branding-options1 {
  top: 328.7px;
  left: 26.5px;
}
.customizable-message-template1,
.massive-messages {
  position: absolute;
  top: 288.5px;
  left: 26.5px;
  line-height: 140%;
}
.massive-messages {
  top: 248.3px;
}
.customer-support1,
.unlimited-page-management1 {
  position: absolute;
  top: 208.1px;
  left: 26.5px;
  line-height: 140%;
}
.customer-support1 {
  top: 368.9px;
}
.line-icon {
  position: absolute;
  top: 143px;
  left: 26.5px;
  width: 231.5px;
  height: 0.5px;
  object-fit: contain;
}
.month1 {
  top: 96.2px;
  left: 182.2px;
  font-size: var(--font-size-smi-2);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.basic,
.div1,
.month1 {
  position: absolute;
  text-align: left;
}
.div1 {
  top: 79.9px;
  left: 77.3px;
  font-size: var(--font-size-13xl-3);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.basic {
  top: 22.4px;
  left: 119.6px;
  font-size: var(--font-size-mid-6);
  line-height: 100%;
}
.group-container {
  position: absolute;
  top: 269.8px;
  left: 114.8px;
  width: 288.6px;
  height: 487.7px;
}
.free-trual-for,
.massive-messages1 {
  position: absolute;
  top: 167.9px;
  left: 26.5px;
  line-height: 140%;
}
.massive-messages1 {
  top: 248.3px;
  left: 22.9px;
}
.div2,
.pro {
  position: absolute;
  text-align: left;
}
.div2 {
  top: 79.9px;
  left: 73.3px;
  font-size: var(--font-size-13xl-3);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.pro {
  top: 24.9px;
  left: 133.8px;
  font-size: var(--font-size-mid-6);
  line-height: 100%;
}
.button-danger11,
.group-div {
  position: absolute;
  top: 269.8px;
  left: 528px;
  width: 288.6px;
  height: 487.7px;
}
.button-danger11 {
  top: 422.9px;
  left: 40.2px;
  border-radius: 7.63px;
  background-color: var(--color-royalblue);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 214.2px;
  height: 33.1px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--space-300);
  gap: var(--space-200);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-danger-on-danger);
}
.custom-branding-options3,
.free-trual-for1 {
  position: absolute;
  top: 176.6px;
  left: 29px;
  line-height: 140%;
}
.custom-branding-options3 {
  top: 337.4px;
}
.customizable-message-template3,
.unlimited-massive-messages1 {
  position: absolute;
  top: 297.2px;
  left: 29px;
  line-height: 140%;
}
.unlimited-massive-messages1 {
  top: 253.4px;
}
.customer-support3,
.unlimited-page-management3 {
  position: absolute;
  top: 216.8px;
  left: 29px;
  line-height: 140%;
}
.customer-support3 {
  top: 377.6px;
}
.group-child5 {
  position: absolute;
  top: 151.6px;
  left: 29px;
  width: 231.5px;
  height: 0.5px;
  object-fit: contain;
}
.month3 {
  top: 99.2px;
  left: 181.7px;
  font-size: var(--font-size-smi-2);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.div3,
.month3,
.unlimitet1 {
  position: absolute;
  text-align: left;
}
.div3 {
  top: 79.9px;
  left: 71.2px;
  font-size: var(--font-size-13xl-3);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.unlimitet1 {
  top: 22.4px;
  left: 107.4px;
  font-size: var(--font-size-mid-6);
  line-height: 100%;
}
.dont-break-the,
.group-parent1 {
  position: absolute;
  top: 269.8px;
  left: 946.3px;
  width: 288.6px;
  height: 487.7px;
}
.dont-break-the {
  top: 174.1px;
  left: 430.8px;
  font-size: 22.1px;
  text-align: left;
  display: inline-block;
  width: 452px;
  height: 27px;
}
.vector-icon43,
.vector-icon44 {
  position: absolute;
  top: 896.3px;
  left: 123.5px;
  width: 250.1px;
  height: 237px;
}
.vector-icon44 {
  top: 906.2px;
  width: 240.7px;
  height: 230.3px;
}
.pricing-page-item {
  position: absolute;
  top: 1411.2px;
  left: 96px;
  width: 443.9px;
  height: 402.3px;
}
.custom-branding-options4 {
  position: absolute;
  top: 288px;
  left: 30.5px;
  line-height: 140%;
}
.customizable-message-template4,
.massive-messages-per {
  position: absolute;
  top: 247.8px;
  left: 30.5px;
  line-height: 140%;
}
.massive-messages-per {
  top: 207.6px;
  left: 26.5px;
  display: inline-block;
  width: 262.1px;
  height: 29px;
}
.customer-support4,
.unlimited-page-management4 {
  position: absolute;
  top: 167.4px;
  left: 30.5px;
  line-height: 140%;
}
.customer-support4 {
  top: 328.2px;
}
.group-parent2 {
  position: absolute;
  top: 889.5px;
  left: 115px;
  width: 288.6px;
  height: 487.7px;
}
.custom-branding-options5,
.massive-messages-per1 {
  position: absolute;
  line-height: 140%;
  display: inline-block;
}
.massive-messages-per1 {
  top: 209.1px;
  left: 26.5px;
  width: 262.1px;
  height: 29px;
}
.custom-branding-options5 {
  top: 288.5px;
  left: 30.5px;
  width: 182.7px;
}
.customer-support5,
.customizable-message-template5,
.unlimited-page-management5 {
  position: absolute;
  top: 248.3px;
  left: 30.5px;
  line-height: 140%;
  display: inline-block;
  width: 236.1px;
}
.customer-support5,
.unlimited-page-management5 {
  top: 167.9px;
  width: 205.6px;
}
.customer-support5 {
  top: 328.7px;
  width: 167.9px;
}
.group-parent3,
.rectangle-div {
  position: absolute;
  top: 889px;
  left: 531.3px;
  width: 288.6px;
  height: 487.7px;
}
.rectangle-div {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  height: 60.8px;
}
.home2 {
  width: 36.2px;
  position: relative;
  flex-shrink: 0;
}
.home2,
.how-to-use2,
.support2 {
  text-decoration: underline;
  line-height: 100%;
  color: inherit;
  display: inline-block;
  height: 12.6px;
}
.how-to-use2 {
  width: 68.8px;
  position: relative;
  flex-shrink: 0;
}
.support2 {
  width: 48.8px;
}
.pricing2,
.star-icon14,
.support2 {
  position: relative;
  flex-shrink: 0;
}
.pricing2 {
  width: 41.5px;
  text-decoration: underline;
  line-height: 100%;
  color: inherit;
  display: inline-block;
  height: 12.6px;
}
.star-icon14 {
  width: 13.7px;
  height: 13.7px;
  overflow: hidden;
  display: none;
}
.button-danger14,
.home-group {
  display: flex;
  flex-direction: row;
}
.button-danger14 {
  width: 78.8px;
  border-radius: 4.35px;
  background-color: var(--color-royalblue);
  border: 0.9px solid var(--color-royalblue);
  box-sizing: border-box;
  height: 19.1px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--space-300);
  gap: var(--space-200);
  font-size: var(--font-size-sm-7);
  color: var(--text-danger-on-danger);
}
.home-group {
  position: absolute;
  top: 21.3px;
  right: 29.9px;
  width: 373.5px;
  height: 18.1px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl-3);
}
.rectangle-group {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 60.8px;
  text-align: left;
  font-size: var(--font-size-smi-8);
}
.privacy1 {
  position: relative;
  text-decoration: underline;
  color: inherit;
}
.privacy-group {
  position: absolute;
  top: 1437px;
  left: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl-4);
  text-align: left;
  font-size: var(--font-size-2xs-8);
}
.pricing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-lightsteelblue);
  height: 1466px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
  font-family: var(--font-inter);
}
