<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./after-login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="after-login1">
      <img class="frame-icon" alt="" src="./public/frame-34.svg" />

      <img class="vector-icon49" alt="" src="./public/vector49.svg" />

      <img class="vector-icon50" alt="" src="./public/vector50.svg" />

      <img class="vector-icon51" alt="" src="./public/vector51.svg" />

      <div class="supercharge-your-page2">
        Supercharge your Page engagement with mass messaging.
      </div>
      <div class="you-can-message2">
        You can message millions of people who have already started
        conversations in your inbox
      </div>
      <img class="after-login-child1" alt="" src="./public/group-329533.svg" />

      <div class="button-danger19">
        <img class="star-icon19" alt="" src="./public/star11.svg" />

        <div class="button19">TRY IT FREE FOR 1 MONTH</div>
        <img class="star-icon19" alt="" src="./public/x11.svg" />
      </div>
      <div class="button-danger20">
        <img class="star-icon20" alt="" src="./public/star12.svg" />

        <div class="button19">Start messaging</div>
        <img class="star-icon20" alt="" src="./public/x12.svg" />
      </div>
      <div class="button-danger21">
        <img class="star-icon21" alt="" src="./public/star13.svg" />

        <div class="button19">START MESSAGING</div>
        <img class="star-icon21" alt="" src="./public/x13.svg" />
      </div>
      <div class="sarowar-hosen1">Sarowar hosen</div>
      <div class="rectangle-parent1">
        <div class="group-child11"></div>
        <div class="frame-parent">
          <div class="messages-5000-wrapper">
            <div class="messages-5000">Messages :5000</div>
          </div>
          <a class="home4" href="https://link.com" target="_blank">Home</a>
          <a class="home4" href="https://link.com" target="_blank"
            >How to use</a
          >
          <a class="home4" href="https://link.com" target="_blank">Support</a>
          <a class="home4" href="https://link.com" target="_blank">Pricing</a>
          <div class="button-danger22">
            <img class="star-icon22" alt="" src="./public/star14.svg" />

            <div class="button19">Sign out</div>
            <img class="star-icon22" alt="" src="./public/x14.svg" />
          </div>
        </div>
      </div>
      <div class="frame-div">
        <a class="privacy3" href="https://www.privacy" target="_blank"
          >Privacy</a
        >
        <a class="privacy3" href="https://www.terms" target="_blank">Terms</a>
      </div>
    </div>
  </body>
</html>
