<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./how-to-use.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="how-to-use3">
      <img class="how-to-use-child" alt="" src="./public/frame-33.svg" />

      <img class="vector-icon45" alt="" src="./public/vector45.svg" />

      <img class="vector-icon46" alt="" src="./public/vector46.svg" />

      <img class="vector-icon47" alt="" src="./public/vector47.svg" />

      <img class="vector-icon48" alt="" src="./public/vector48.svg" />

      <div class="how-to-use-item"></div>
      <div class="button-danger15">
        <img class="star-icon15" alt="" src="./public/star8.svg" />

        <div class="button15">TRY IT FREE FOR 1 MONTH</div>
        <img class="star-icon15" alt="" src="./public/x8.svg" />
      </div>
      <div class="send-promotions-to">
        SEND PROMOTIONS TO YOUR ENGAGED AUDIENCE
      </div>
      <div class="imagine-reaching-out">
        Imagine reaching out to those who have already shown interest in your
        business. With Wesendmsgs, you can send precisely targeted messages to
        everyone in your Facebook page's inbox.
      </div>
      <div class="save-time-on">
        SAVE TIME ON REPLYING TO POST COMMENTS WITH Wesendmsgs
      </div>
      <div class="click-the-watch">
        Click the watch now button if you want to know how to use our service
      </div>
      <div class="if-you-have">
        If you have hundreds of message on your page, many users likely have
        similar questions. Wesendmsgs allows you to respond to numerous people
        at once with a single click. Simply select the users, write your
        response, and hit send. It's that simple!
      </div>
      <div class="button-danger16">
        <img class="star-icon16" alt="" src="./public/star9.svg" />

        <div class="button15">Watch now</div>
        <img class="star-icon16" alt="" src="./public/x9.svg" />
      </div>
      <div class="button-danger17">
        <img class="star-icon17" alt="" src="./public/star10.svg" />

        <div class="button15">Watch now</div>
        <img class="star-icon17" alt="" src="./public/x10.svg" />
      </div>
      <img class="how-to-use-inner" alt="" src="./public/group-329532.svg" />

      <div class="rectangle-container">
        <div class="group-child10"></div>
        <div class="home-container">
          <a class="home3" href="https://link.com" target="_blank">Home</a>
          <a class="how-to-use4" href="https://link.com" target="_blank"
            >How to use</a
          >
          <a class="support3" href="https://link.com" target="_blank"
            >Support</a
          >
          <a class="pricing3" href="https://link.com" target="_blank"
            >Pricing</a
          >
          <div class="button-danger18">
            <img class="star-icon18" alt="" src="./public/star3.svg" />

            <div class="button15">Sign in</div>
            <img class="star-icon18" alt="" src="./public/x3.svg" />
          </div>
        </div>
      </div>
      <div class="privacy-container">
        <a class="privacy2" href="https://www.privacy" target="_blank"
          >Privacy</a
        >
        <a class="privacy2" href="https://www.terms" target="_blank">Terms</a>
      </div>
    </div>
  </body>
</html>
