<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <img class="home-child" alt="" src="./public/frame-3.svg" />

      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <img class="vector-icon1" alt="" src="./public/vector1.svg" />

      <img class="vector-icon2" alt="" src="./public/vector2.svg" />

      <div class="supercharge-your-page">
        Supercharge your Page engagement with mass messaging.
      </div>
      <div class="you-can-message">
        You can message millions of people who have already started
        conversations in your inbox
      </div>
      <img class="home-item" alt="" src="./public/group-32953.svg" />

      <div class="button-danger">
        <img class="star-icon" alt="" src="./public/star.svg" />

        <div class="button">TRY IT FREE FOR 1 MONTH</div>
        <img class="star-icon" alt="" src="./public/x.svg" />
      </div>
      <div class="button-danger1">
        <img class="star-icon1" alt="" src="./public/star1.svg" />

        <div class="button">Start messaging</div>
        <img class="star-icon1" alt="" src="./public/x1.svg" />
      </div>
      <div class="sarowar-hosen">Sarowar hosen</div>
      <div class="button-danger2">
        <img class="star-icon2" alt="" src="./public/star2.svg" />

        <div class="button">TRY IT FREE FOR 1 MONTH</div>
        <img class="star-icon2" alt="" src="./public/x2.svg" />
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="home-parent">
          <a class="home1" href="https://link.com" target="_blank">Home</a>
          <a class="how-to-use" href="https://link.com" target="_blank"
            >How to use</a
          >
          <a class="support" href="https://link.com" target="_blank">Support</a>
          <a class="pricing" href="https://link.com" target="_blank">Pricing</a>
          <div class="button-danger3">
            <img class="star-icon3" alt="" src="./public/star3.svg" />

            <div class="button">Sign in</div>
            <img class="star-icon3" alt="" src="./public/x3.svg" />
          </div>
        </div>
      </div>
      <div class="privacy-parent">
        <a class="privacy" href="https://www.privacy" target="_blank"
          >Privacy</a
        >
        <a class="privacy" href="https://www.terms" target="_blank">Terms</a>
      </div>
    </div>
  </body>
</html>
