<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="login">
      <img class="login-child" alt="" src="./public/frame-35.svg" />

      <img class="vector-icon52" alt="" src="./public/vector53.svg" />

      <img class="vector-icon53" alt="" src="./public/vector54.svg" />

      <img class="vector-icon54" alt="" src="./public/vector55.svg" />

      <img class="login-item" alt="" src="./public/group-329534.svg" />

      <div class="button-danger23">
        <img class="star-icon23" alt="" src="./public/star15.svg" />

        <div class="button23">TRY IT FREE FOR 1 MONTH</div>
        <img class="star-icon23" alt="" src="./public/x15.svg" />
      </div>
      <div class="group-parent4">
        <img class="group-child12" alt="" src="./public/group-329582.svg" />

        <div class="button-danger24">
          <img class="star-icon24" alt="" src="./public/star16.svg" />

          <div class="button23">Continue with Facebook</div>
          <img class="star-icon24" alt="" src="./public/x16.svg" />
        </div>
        <div class="line-no-one">Line no one is here</div>
        <div class="sign-in-or">Sign in or Sign up</div>
      </div>
      <div class="login-inner"></div>
      <div class="rectangle-parent2">
        <div class="group-child13"></div>
        <div class="home-parent1">
          <a class="home5" href="https://link.com" target="_blank">Home</a>
          <a class="how-to-use6" href="https://link.com" target="_blank"
            >How to use</a
          >
          <a class="support5" href="https://link.com" target="_blank"
            >Support</a
          >
          <a class="pricing5" href="https://link.com" target="_blank"
            >Pricing</a
          >
          <div class="button-danger25">
            <img class="star-icon25" alt="" src="./public/star3.svg" />

            <div class="button23">Sign in</div>
            <img class="star-icon25" alt="" src="./public/x3.svg" />
          </div>
        </div>
      </div>
      <img class="login-child1" alt="" />

      <div class="privacy-parent1">
        <a class="privacy4" href="https://www.privacy" target="_blank"
          >Privacy</a
        >
        <a class="privacy4" href="https://www.terms" target="_blank">Terms</a>
      </div>
    </div>
  </body>
</html>
