<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./pricing-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="pricing-page">
      <div class="pricing-page-inner">
        <div class="group-wrapper">
          <div class="group-wrapper">
            <img class="vector-icon3" alt="" src="./public/vector3.svg" />

            <img class="vector-icon3" alt="" src="./public/vector4.svg" />

            <img class="vector-icon5" alt="" src="./public/vector5.svg" />

            <img class="vector-icon6" alt="" src="./public/vector6.svg" />

            <img class="vector-icon7" alt="" src="./public/vector7.svg" />

            <img class="vector-icon8" alt="" src="./public/vector8.svg" />

            <img class="vector-icon9" alt="" src="./public/vector9.svg" />

            <img class="vector-icon10" alt="" src="./public/vector10.svg" />

            <img class="vector-icon11" alt="" src="./public/vector11.svg" />

            <img class="vector-icon12" alt="" src="./public/vector12.svg" />

            <img class="vector-icon13" alt="" src="./public/vector13.svg" />

            <img class="vector-icon14" alt="" src="./public/vector14.svg" />

            <img class="vector-icon15" alt="" src="./public/vector15.svg" />

            <img class="vector-icon16" alt="" src="./public/vector16.svg" />

            <img class="vector-icon17" alt="" src="./public/vector17.svg" />

            <img class="vector-icon18" alt="" src="./public/vector18.svg" />

            <img class="vector-icon19" alt="" src="./public/vector19.svg" />

            <img class="vector-icon20" alt="" src="./public/vector20.svg" />

            <img class="vector-icon21" alt="" src="./public/vector21.svg" />

            <img class="vector-icon22" alt="" src="./public/vector22.svg" />

            <img class="vector-icon23" alt="" src="./public/vector23.svg" />

            <img class="vector-icon24" alt="" src="./public/vector24.svg" />

            <img class="vector-icon25" alt="" src="./public/vector25.svg" />

            <img class="vector-icon26" alt="" src="./public/vector26.svg" />

            <img class="vector-icon27" alt="" src="./public/vector27.svg" />

            <img class="vector-icon28" alt="" src="./public/vector28.svg" />

            <img class="vector-icon29" alt="" src="./public/vector29.svg" />

            <img class="vector-icon30" alt="" src="./public/vector30.svg" />

            <img class="vector-icon31" alt="" src="./public/vector31.svg" />

            <img class="vector-icon32" alt="" src="./public/vector32.svg" />

            <img class="vector-icon33" alt="" src="./public/vector33.svg" />

            <img class="vector-icon34" alt="" src="./public/vector34.svg" />

            <img class="vector-icon35" alt="" src="./public/vector35.svg" />

            <div class="group-parent">
              <img class="group-item" alt="" src="./public/group-32958.svg" />

              <div class="button-danger4">
                <img class="star-icon4" alt="" src="./public/star4.svg" />

                <div class="button4">GET STARTED</div>
                <img class="star-icon4" alt="" src="./public/x4.svg" />
              </div>
              <div class="custom-branding-options">Custom Branding Options</div>
              <div class="customizable-message-template">
                Customizable Message Template
              </div>
              <div class="unlimited-massive-messages">
                Unlimited massive messages for year
              </div>
              <div class="unlimited-page-management">
                Unlimited Page Management
              </div>
              <div class="customer-support">24/7 Customer Support</div>
              <img class="group-inner" alt="" />

              <div class="month">\month</div>
              <div class="div">$49.99</div>
              <div class="unlimitet">Unlimitet</div>
            </div>
          </div>
        </div>
      </div>
      <img class="vector-icon36" alt="" src="./public/vector36.svg" />

      <div class="vector-group">
        <img class="vector-icon37" alt="" src="./public/vector37.svg" />

        <div class="supercharge-your-campaigns">
          Supercharge your Campaigns - at a reasonable price
        </div>
      </div>
      <img class="vector-icon38" alt="" src="./public/vector38.svg" />

      <div class="pricing-page-child"></div>
      <div class="button-danger5">
        <img class="star-icon5" alt="" src="./public/star5.svg" />

        <div class="button4">TRY IT FREE FOR 1 MONTH</div>
        <img class="star-icon5" alt="" src="./public/x5.svg" />
      </div>
      <div class="after-login">
        <img class="after-login-child" alt="" src="./public/frame-31.svg" />

        <img class="vector-icon39" alt="" src="./public/vector39.svg" />

        <img class="vector-icon40" alt="" src="./public/vector40.svg" />

        <img class="vector-icon41" alt="" src="./public/vector41.svg" />

        <img class="vector-icon42" alt="" src="./public/vector42.svg" />

        <div class="after-login-item"></div>
        <div class="supercharge-your-page1">
          Supercharge your Page engagement with mass messaging.
        </div>
        <div class="after-login-inner"></div>
        <a class="pricing1" href="https://link.com" target="_blank">Pricing</a>
        <a class="support1" href="https://link.com" target="_blank">Support</a>
        <a class="how-to-use1" href="https://link.com" target="_blank"
          >How to use</a
        >
        <div class="you-can-message1">
          You can message millions of people who have already started
          conversations in your inbox
        </div>
        <img class="group-icon" alt="" src="./public/group-329531.svg" />

        <div class="button-danger6">
          <img class="star-icon5" alt="" src="./public/star5.svg" />

          <div class="button4">TRY IT FREE FOR 1 MONTH</div>
          <img class="star-icon5" alt="" src="./public/x5.svg" />
        </div>
        <div class="button-danger7">
          <img class="star-icon4" alt="" src="./public/star6.svg" />

          <div class="button4">Sign in</div>
          <img class="star-icon4" alt="" src="./public/x6.svg" />
        </div>
        <div class="button-danger8">
          <img class="star-icon4" alt="" src="./public/star7.svg" />

          <div class="button4">TRY IT FREE FOR 1 MONTH</div>
          <img class="star-icon4" alt="" src="./public/x7.svg" />
        </div>
      </div>
      <div class="group-container">
        <img class="group-child1" alt="" src="./public/group-329581.svg" />

        <div class="button-danger9">
          <img class="star-icon4" alt="" src="./public/star4.svg" />

          <div class="button4">GET STARTED</div>
          <img class="star-icon4" alt="" src="./public/x4.svg" />
        </div>
        <div class="free-trial-for">Free Trial for 30 Days</div>
        <div class="custom-branding-options1">Custom Branding Options</div>
        <div class="customizable-message-template1">
          Customizable Message Template
        </div>
        <div class="massive-messages">3000 massive messages</div>
        <div class="unlimited-page-management1">Unlimited Page Management</div>
        <div class="customer-support1">24/7 Customer Support</div>
        <img class="line-icon" alt="" />

        <div class="month1">\month</div>
        <div class="div1">$12.99</div>
        <div class="basic">Basic</div>
      </div>
      <div class="group-div">
        <img class="group-child1" alt="" src="./public/group-329581.svg" />

        <div class="button-danger9">
          <img class="star-icon4" alt="" src="./public/star4.svg" />

          <div class="button4">GET STARTED</div>
          <img class="star-icon4" alt="" src="./public/x4.svg" />
        </div>
        <div class="free-trual-for">Free Trual for 30 Days</div>
        <div class="custom-branding-options1">Custom Branding Options</div>
        <div class="customizable-message-template1">
          Customizable Message Template
        </div>
        <div class="massive-messages1">15000 massive messages</div>
        <div class="unlimited-page-management1">Unlimited Page Management</div>
        <div class="customer-support1">24/7 Customer Support</div>
        <img class="line-icon" alt="" />

        <div class="month1">\month</div>
        <div class="div2">$22.99</div>
        <div class="pro">Pro</div>
      </div>
      <div class="group-parent1">
        <img class="group-child1" alt="" src="./public/group-329581.svg" />

        <div class="button-danger11">
          <img class="star-icon4" alt="" src="./public/star4.svg" />

          <div class="button4">GET STARTED</div>
          <img class="star-icon4" alt="" src="./public/x4.svg" />
        </div>
        <div class="free-trual-for1">Free Trual for 30 Days</div>
        <div class="custom-branding-options3">Custom Branding Options</div>
        <div class="customizable-message-template3">
          Customizable Message Template
        </div>
        <div class="unlimited-massive-messages1">
          Unlimited massive messages
        </div>
        <div class="unlimited-page-management3">Unlimited Page Management</div>
        <div class="customer-support3">24/7 Customer Support</div>
        <img class="group-child5" alt="" />

        <div class="month3">\month</div>
        <div class="div3">$49.99</div>
        <div class="unlimitet1">Unlimitet</div>
      </div>
      <div class="dont-break-the">
        Don't break the bank break records instead
      </div>
      <img class="vector-icon43" alt="" src="./public/vector43.svg" />

      <img class="vector-icon44" alt="" src="./public/vector44.svg" />

      <img class="pricing-page-item" alt="" src="./public/frame-32.svg" />

      <div class="group-parent2">
        <img class="group-child1" alt="" src="./public/group-329581.svg" />

        <div class="button-danger9">
          <img class="star-icon4" alt="" src="./public/star4.svg" />

          <div class="button4">GET STARTED</div>
          <img class="star-icon4" alt="" src="./public/x4.svg" />
        </div>
        <div class="custom-branding-options4">Custom Branding Options</div>
        <div class="customizable-message-template4">
          Customizable Message Template
        </div>
        <div class="massive-messages-per">3000 massive messages per month</div>
        <div class="unlimited-page-management4">Unlimited Page Management</div>
        <div class="customer-support4">24/7 Customer Support</div>
        <img class="line-icon" alt="" />

        <div class="month1">\month</div>
        <div class="div1">$12.99</div>
        <div class="basic">Basic</div>
      </div>
      <div class="group-parent3">
        <img class="group-child1" alt="" src="./public/group-329581.svg" />

        <div class="button-danger9">
          <img class="star-icon4" alt="" src="./public/star4.svg" />

          <div class="button4">GET STARTED</div>
          <img class="star-icon4" alt="" src="./public/x4.svg" />
        </div>
        <div class="massive-messages-per1">3000 massive messages per month</div>
        <div class="custom-branding-options5">Custom Branding Options</div>
        <div class="customizable-message-template5">
          Customizable Message Template
        </div>
        <div class="unlimited-page-management5">Unlimited Page Management</div>
        <div class="customer-support5">24/7 Customer Support</div>
        <img class="line-icon" alt="" />

        <div class="month1">\month</div>
        <div class="div2">$22.99</div>
        <div class="pro">Pro</div>
      </div>
      <div class="rectangle-group">
        <div class="rectangle-div"></div>
        <div class="home-group">
          <a class="home2" href="https://link.com" target="_blank">Home</a>
          <a class="how-to-use2" href="https://link.com" target="_blank"
            >How to use</a
          >
          <a class="support2" href="https://link.com" target="_blank"
            >Support</a
          >
          <a class="pricing2" href="https://link.com" target="_blank"
            >Pricing</a
          >
          <div class="button-danger14">
            <img class="star-icon14" alt="" src="./public/star3.svg" />

            <div class="button4">Sign in</div>
            <img class="star-icon14" alt="" src="./public/x3.svg" />
          </div>
        </div>
      </div>
      <div class="privacy-group">
        <a class="privacy1" href="https://www.privacy" target="_blank"
          >Privacy</a
        >
        <a class="privacy1" href="https://www.terms" target="_blank">Terms</a>
      </div>
    </div>
  </body>
</html>
